<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Parking - Parking Lista</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Parking Lista</h1>
        <a href="/parking_list/add" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i> Dodaj Parking</a>
        <table class="table table-striped table-bordered">
            <thead class="thread-dark">
            <tr>
                <th>Id</th>
                <th>Naziv parkinga</th>
                <th>Adresa</th>
                <th>Broj mjesta</th>
                <th>Akcija</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="parking: ${listParking}">
                <td th:text="${parking.id}"></td>
                <td th:text="${parking.parkingName}"></td>
                <td th:text="${parking.parkingAddress}"></td>
                <td th:text="${parking.numberOfSlots}"></td>
                <td>
                    <a href="*">Uredi</a>
                    <a href="*">Briši</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
