<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Parking - Rezerviraj mjesto</title>
</head>
<body>
<div layout:fragment="content">
    <div >
        <h1>Rezerviraj mjesto</h1>
    </div>

    <form th:action="@{/spots/add/{id}(id=${spot.Parking.id})}" method="post">
        <input type="hidden" name="Parking.id" th:value="${spot.Parking.id}"/>
        <div class="form-group row">
            <label class="col-4 col-form-label" for="carName">Naziv vozila: </label>
            <input type="text" class="form-control" id="carName" name="carName" />
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label" for="licensePlate">Registracijski broj vozila: </label>
            <input type="text" class="form-control" id="licensePlate" name="licensePlate" />
        </div>
        <button type="submit" class="btn btn-primary">Rezerviraj mjesto</button>
    </form>


</div>
</body>
</html>