<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Parking - Dobro došli</title>
</head>
<body>
<div layout:fragment="content">
    <header class="text-center">
        <div>
            <h1 class="display-4 mb-5">Dobro došli na Parking aplikaciju!</h1>
        </div>
    </header>

    <section class="text-center">
        <div class="container py-4">
            <h2 class="text-uppercase fw-bold mt-4">Započni kupovinu karte</h2>
            <form class="mt-5 mb-5" th:action="@{/select-parking}" method="get">
                <button type="submit" class="btn btn-primary btn-lg me-2">Kupi kartu</button>
            </form>
        </div>
    </section>

    <section>
    <div class="container py-4">
        <h2>Cijene Parking Karata</h2>
        <p>Pogledajte naše cijene:</p>
        <ul>
        <li>1 sat: 1 KM</li>
        <li>Svaki dodatni sat: +0.5 KM</li>
        <li>1 dan (24 sata): 10 KM</li>
        <li>1 mjesec: 50 KM</li>
        </ul>
        <p>Svi računi su jasni i pregledni, bez skrivenih troškova.</p>
    </div>
    </section>
</div>
</body>
</html>
