<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parking - Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body style="background-color: whitesmoke">
<div class="container vh-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-6">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center"  style="border-radius: 1rem;">
                <h3>Login</h3>
                <form th:action="@{/login}" th:object="${user}" method="post">
                <div class="m-3">
                    <div th:if="${param.error}" class="alert alert-danger">Incorrect user details, please try again.</div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">E-mail </label>
                        <div class="col-8">
                            <input type="email" th:field="*{email}" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Password </label>
                        <div class="col-8">
                            <input type="password" th:field="*{password}" class="form-control"
                                   required minlength="6" maxlength="10"/>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-block btn-primary">Login</button>
                    </div>
                    <div>
                        <a href="register" class="mt-2 btn btn-block btn-outline-secondary">Register</a>
                    </div>
                </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>