<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Parking - Pricing list</title>
</head>
<body>
<div layout:fragment="content">
    <header class="text-center">
        <div>
            <h1 class="mb-5">Parking ticket price</h1>
        </div>
    </header>

    <section>
        <div class="container py-4">
            <ul>
                <li>1 hour: $ 1</li>
                <li>Each additional hour: + $ 0.5</li>
                <li>1 day (24 hours): $ 10</li>
                <li>1 month: $ 50</li>
            </ul>
        </div>
    </section>
</div>
</body>
</html>
