<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Parking - Parking Mjesta</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Parking Mjesta</h1>
    <a th:href="@{/spots/add/{id}(id=${parking.id})}" class="btn btn-outline-primary mb-3"><i class="fa-solid fa-plus"></i> Dodaj Mjesto</a>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Naziv vozila</th>
            <th>Registracijski broj vozila</th>
            <th>Početno vrijeme</th>
            <th>Završno vrijeme</th>
            <th>Akcija</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="spot : ${spots}">
            <td th:text="${spot.id}"></td>
            <td th:text="${spot.carName}"></td>
            <td th:text="${spot.licensePlate}"></td>
            <td th:text="${#temporals.format(spot.startTime, 'dd.MM.yyyy. HH:mm')}"></td>
            <td th:text="${#temporals.format(spot.endTime, 'dd.MM.yyyy. HH:mm')}"></td>
            <td>
                <form th:action="@{/spots/delete/{id}(id=${spot.id})}" method="post">
                    <button type="submit" class="btn btn-danger">Delete Spot</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>