<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Parking - Parking Mjesta</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Parking Mjesta</h1>
    <a th:href="@{/spots/add/{id}(id=${parking.id})}" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i> Dodaj Mjesto</a>
    <table class="table table-striped table-bordered">
        <thead class="thread-dark">
        <tr>
            <th>ID</th>
            <th>Naziv mjesta</th>
            <th>Dostupno</th>
            <th>Akcija</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="spot : ${spots}">
            <td th:text="${spot.id}"></td>
            <td th:text="${spot.spotName}"></td>
            <td th:text="${spot.available} ? 'Da' : 'Ne'"></td>
            <td>
                <form th:action="@{/spots/delete/{id}(id=${spot.id})}" method="post">
                    <button type="submit" class="btn btn-danger">Delete Spot</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>